doctype 5
head
  title Park Bench Panel

  link(rel='stylesheet', type='text/css', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/themes/start/jquery-ui.css')
  link(rel='stylesheet', type='text/css', href='#{url}/../stylesheets/park-bench-panel.css')
  //The hangout ref needs to change to this once it moves out
  //of developer sandbox <script src="//talkgadget.google.com/hangouts/_/api/hangout.js?v=1.2"></script>

  block scripts
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js')
    script(src='#{url}/../javascripts/renderer.js')
    script(src='#{url}/../javascripts/participant.js')
    script(src='#{url}/../javascripts/participantMapper.js')
    script(src='#{url}/../javascripts/hangoutWrapper.js')
    script(src='#{url}/../javascripts/park-bench-panel.js')

  block initScripts
    script(src='#{url}/../javascripts/park-bench-panel-init.js')


block body
  body
    div(width='75%')
      h1 Park Bench Panel
      h1 Listeners
        ul#listenerList
      h1 Waiting to speak
        ul#waitingList
      h1 Speakers
        ul#speakerList
      #buttons
        input#btnStartTalk.button(type='button', value='I want to talk', onclick='pbp.startTalking()')
        input#btnStopTalk.button(type='button', value='Done talking', onclick='pbp.stopTalking()')
